<div class="provider-card">
  <p-card header="{{provider?.fullname}}">
    <div class="icons">
      <fa-icon *ngIf="provider.isVerified" [icon]="userVerified"></fa-icon>
    </div>
    <div class="chips">
      <div *ngFor="let si of sellingItems">
        <p-chip label="{{si}}"></p-chip>
      </div>
    </div>
    <p>
      {{provider?.description}}
    </p>
    <div>
      <p-button label="Select" icon="pi pi-chevron-right" iconPos="right" (onClick)="onProviderSelection()"></p-button>
      <p-button *ngIf="inCancellable" label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"></p-button>
    </div>
  </p-card>
</div>
