<div class="p-card store-item mb-4 py-2 px-1 flex flex-wrap flex-column justify-content-between">
  <div class="card-container">
    <div class="images">
      <p-carousel [value]="item.pics" [circular]="true" [numScroll]="1" [responsiveOptions]="responsiveOptions">
        <ng-template let-item pTemplate="item">
          <img src="{{ item }}" [alt]="item"/>
        </ng-template>
      </p-carousel>
    </div>
    <div class="body">
      <div class="category">
        <p-chip label="{{item.category}}"></p-chip>
      </div>
      <div class="description">
        <div>
          <p>{{item.description}}</p>
        </div>
      </div>
      <div class="footer">
        <div class="price">
          <h3>{{item.price | currency:'USD':'symbol':'1.2-2'}}</h3>
        </div>
        <div class="buttons align-items-center">
          <p-button class="" label="Select" styleClass="p-button-text"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
