<div class="bid__item theme-bg-dark">
  <div class="bid__item-wrapper">
    <div
      class="bid__top d-flex align-items-center justify-content-between mb-20"
    >
      <div class="bid__user">
        <ul>
          <li>
            <a [routerLink]="['/profile']">
              <img src="assets/img/bid/bid-user-1.jpg" alt="" />
            </a>
          </li>
        </ul>
      </div>
      <div class="bid__popularity">
        <a [routerLink]="['/profile']">
          <i class="icon_heart"></i>
          {{ item.likes | number}}
        </a>
      </div>
    </div>
    <div class="bid__thumb m-img mb-20">
      <a [routerLink]="['/product-details']">
        <img src="{{ item.img }}" alt="" />
      </a>
    </div>
    <div class="bid__content">
      <h3 class="bid__title">
        <a [routerLink]="['/product-details']">{{ item.title  | titlecase}}</a>
      </h3>
      <div
        class="bid__info d-flex align-items-center justify-content-between"
      >
        <div class="bid__highest">
          <p>Price <span>{{ item.price | currency }}</span></p>
        </div>
        <div class="bid__stock">
          <p>{{item.shippingWithin | titlecase}}</p>
        </div>
      </div>
    </div>
    <div
      class="bid__bottom d-flex align-items-center justify-content-between"
    >
      <div class="bid__btn-wrapper"  (click)="addRemoveFromCartOrShowDetails(item, 'addRemove')">
        <a
          style="cursor: pointer"
          class="bid__btn bid__btn-border"
        >{{ isInCart ? 'Remove' : 'Add to cart' }}</a
        >
      </div>
      <div class="bid__btn-wrapper">
        <button
          type="button"
          class="bid__btn"
          data-bs-toggle="modal"
          data-bs-target="#bidmodal"
        >
          Buy now
        </button>
      </div>
    </div>
  </div>
</div>
