<p>animal works!</p>
<div *ngIf="animals.length > 0">
  <div *ngFor="let animal of animals; let i = index">
    {{animal.race}} - {{animal.size}}  <button type="button" (click)="removeAnimal(i)">Remove</button>
  </div>
</div>

<div *ngIf="showAddAnimal">
  <label>
    Race:
    <input type="text" #animalRace>
  </label>

  <label>
    Size:
    <input type="text" #animalSize>
  </label>
  <button type="button" (click)="confirmAddAnimal(animalRace.value, animalSize.value)">Ok</button>
</div>

<button type="button" (click)="addAnimal()">Add Animal</button>
<p-button label="Back" (onClick)="onBack()"></p-button>
<p-button label="Next" [disabled]="this.animals.length === 0" (onClick)="onNext()"></p-button>
