
<div class="flex flex-wrap gap-3" [formGroup]="modeForm">
  <div class="flex align-items-center">
    <p-radioButton name="choice" value="in-home" formControlName="choice" inputId="in-home"></p-radioButton>
    <label for="in-home" class="ml-2">The Petsitter has to come in my home</label>
  </div>

  <div class="flex align-items-center">
    <p-radioButton name="choice" value="in-pet-sitter" formControlName="choice" inputId="in-pet-sitter"></p-radioButton>
    <label for="in-pet-sitter" class="ml-2">I will bring my pet to the Petsitter</label>
  </div>
</div>
<p-button label="Back" (onClick)="onBack()"></p-button>
<p-button label="Next" [disabled]="modeForm.invalid" (onClick)="onNext()"></p-button>
