
<div class="flex flex-wrap gap-3">
  <div class="flex align-items-center">
    <p-radioButton name="in-home" value="in-home" [(ngModel)]="modeChoice" (ngModelChange)="onModelSelectionChange($event)" inputId="in-home"></p-radioButton>
    <label for="in-home" class="ml-2">The Petsitter has to come in my home</label>
  </div>

  <div class="flex align-items-center">
    <p-radioButton name="in-pet-sitter" value="in-pet-sitter" [(ngModel)]="modeChoice" (ngModelChange)="onModelSelectionChange($event)" inputId="in-pet-sitter"></p-radioButton>
    <label for="in-pet-sitter" class="ml-2">I will bring my pet to the Petsitter</label>
  </div>
</div>
<p-button label="Back" (onClick)="onBack()"></p-button>
<p-button label="Next" [disabled]="modeChoice == null" (onClick)="onNext()"></p-button>
