<div [formGroup]="personalInformationForm">
  <input pInputText type="text" class="p-inputtext-lg" formControlName="firstname" placeholder="Firstname*"/>
  <input pInputText type="text" class="p-inputtext-lg" formControlName="lastname" placeholder="Lastname*"/>
  <input pInputText type="text" class="p-inputtext-lg" formControlName="phoneNumber" placeholder="Phone number*"/>
  <input pInputText type="text" class="p-inputtext-lg" formControlName="countryAddress"  placeholder="Country"/>
  <input pInputText type="text" class="p-inputtext-lg" formControlName="cityAddress" placeholder="City"/>
  <input pInputText type="text" class="p-inputtext-lg" formControlName="streetAddress" placeholder="Street"/>
  <input pInputText type="text" class="p-inputtext-lg" formcontrolName="zipCode" placeholder="Zip"/>
</div>

<p-button label="Back" (onClick)="onBack()"></p-button>
<p-button label="Next" [disabled]="personalInformationForm.invalid" (onClick)="onNext()"></p-button>
