<!-- split the component in two pieces horizontally, the left side is the p-carousel with the pics, the right side is the description -->
<div class="row" *ngIf="item">
    <div class="col-md-6">
        <p-carousel [value]="item.pics" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" styleClass="custom-carousel">
            <ng-template let-image pTemplate="item">
                <img src="{{image}}" style="display:block;width:100%">
            </ng-template>
        </p-carousel>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h1>{{item.title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>{{item.price}} €</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{item.longDescription}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button pButton type="button" label="Add to cart" icon="pi pi-shopping-cart"></button>
            </div>
        </div>
    </div>
</div>
