<section class="seller__area pt-115 pb-60">
  <div class="container tp-container">
    <div class="row">
      <div class="col-xxl-9 col-lg-9 col-sm-7">
        <div class="section__title-wrapper mb-40">
          <h4 class="section__title-stroke">Profile</h4>
          <span class="section__title-pre">Profile </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card flex justify-content-center">
          <p-fileUpload name="profilePicture" url="http://localhost:3000/upload" [multiple]="false" accept="image/*" [maxFileSize]="1000000">
            <ng-template pTemplate="toolbar">
              <div class="py-3">Upload profile picture</div>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
    </div>
  </div>
</section>
