<section class="seller__area pt-115 pb-60">
  <div class="container tp-container">
    <div class="row">
      <div class="col-xxl-9 col-lg-9 col-sm-7">
        <div class="section__title-wrapper mb-40">
          <h4 class="section__title-stroke">Profile</h4>
          <span class="section__title-pre">Profile </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6">
        aaaaa
      </div>
    </div>
  </div>
</section>
